Repository arghena/katharsis, pull requests merged in 2025-01, with the labels that each got.

#201 feat: Publish the project to Cargo
  .github/workflows/cd.yml
  Cargo.toml
  docs/USE.md
Labels: enhancement

#202 chore: Bump version, abbreviate "are" in the USE.md file
  Cargo.lock
  Cargo.toml
  README.md
  docs/USE.md
Labels: chore

#203 chore: Improve `Cargo.toml`
  Cargo.toml
  README.md
  docs/USE.md
Labels: chore

#204 feat: Add MSRV job to ci.yml
  .github/workflows/ci.yml
Labels: enhancement

#205 chore: Bump version
  Cargo.lock
  Cargo.toml
  README.md
Labels: chore

#207 fix: no such command `msrv`
  .github/workflows/ci.yml
Labels: bug

#206 chore: Improve docs
  docs/FAQ.md
  docs/INSTALL.md
  docs/USE.md
Labels: chore

#209 chore: Improve PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore

#210 doc: Add DCO file
  .github/CONTRIBUTING.md
  .github/DCO
Labels: documentation

#211 chore: Improve PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore

#212 chore: Removed the unnecessary parts
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore

#217 feat: Add dco.yml file
  .github/dco.yml
Labels: enhancement

#219 chore: Add `-S -s` parameter
  .github/CONTRIBUTING.md
Labels: chore

#220 chore: Add `Signing Commits` section
  .github/CONTRIBUTING.md
Labels: chore

#221 chore: Bump version
  Cargo.lock
  Cargo.toml
  README.md
Labels: chore

#222 chore: Improve PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore

#223 doc: Add workflow and dev kit templates
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/dev.yml
  .github/ISSUE_TEMPLATE/wf.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/issue-labeler.yml
  .github/workflows/pr-labeler.yml
Labels: documentation

#224 wf: Add config.yml
  .github/config.yml
Labels: workflow

#225 wf: Add changelogithub
  .github/CODEOWNERS
  .github/workflows/cd.yml
  LICENSES/NOTICE
  LICENSES/changelogen/LICENSE
  changelogithub.config.json
Labels: workflow

#226 chore: Bump version
  Cargo.lock
  Cargo.toml
  README.md
Labels: chore

#228 chore: Remove jobs related to close
  .github/workflows/issue-labeler.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/triage-issues.yml
  .github/workflows/triage-prs.yml
Labels: chore

#229 chore: Rename the prefix related to workflows from doc to docs
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/docs.yml
  .github/workflows/issue-labeler.yml
  .github/workflows/pr-labeler.yml
  changelogithub.config.json
Labels: chore

#227 docs: add Arch Linux installation instructions
  docs/USE.md
Labels: documentation

#230 docs: Tidy up the docs
  README.md
  docs/FAQ.md
  docs/INSTALL.md
  docs/USE.md
Labels: documentation

#231 chore: Bump version
  Cargo.lock
  Cargo.toml
  README.md
  docs/INSTALL.md
Labels: chore

#232 docs: Tidy up the issue_template and Contributing Guide
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/dev.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/ex.yml
  .github/ISSUE_TEMPLATE/feat.yml
  .github/ISSUE_TEMPLATE/fix.yml
  .github/ISSUE_TEMPLATE/test.yml
  .github/ISSUE_TEMPLATE/wf.yml
Labels: documentation

#233 docs: Remove NOTE for docs_issue_template
  .github/ISSUE_TEMPLATE/docs.yml
Labels: documentation

#235 docs: Add AUR badge, Change badge style
  README.md
Labels: documentation

#236 wf: Switch coverallsapp version
  .github/workflows/ci.yml
Labels: workflow

#237 chore: Bump version
  Cargo.lock
  Cargo.toml
  README.md
Labels: chore

#238 wf: Add WinGet job to cd.yml
  .github/workflows/cd.yml
  README.md
  docs/INSTALL.md
Labels: workflow

#240 docs: Add email to COC
  .github/CODE-OF-CONDUCT.md
Labels: documentation

#241 docs: Tidy up the CONTRIBUTING.md file
  .github/CONTRIBUTING.md
Labels: documentation

#242 docs: correct the URL in SECURITY.md
  .github/SECURITY.md
Labels: documentation

#243 chore: bump version
  Cargo.lock
  Cargo.toml
  README.md
Labels: chore

#244 docs: add some details to CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: documentation

#245 test: exclude `main.rs` from Tarpaulin coverage
  Cargo.toml
  src/main.rs
Labels: test

#246 docs: add a `Packaging Status` badge to the `INSTALL.md` file
  docs/INSTALL.md
Labels: documentation

#247 docs: remove NOTE for INSTALL.md
  docs/INSTALL.md
Labels: documentation

#255 test: fix cmd module assertion failed
  .gitignore
  Cargo.lock
  Cargo.toml
  src/arg/handle.rs
  src/cmd/handle.rs
  tests/arg.rs
  tests/cmd.rs
  tests/katharsis.config.toml
  tmp/.gitkeep
Labels: test

#251 wf!: organize project files and integrate linting jobs
  .config/vale/styles/.gitkeep
  .github/CODE-OF-CONDUCT.md
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .github/DISCUSSION_TEMPLATE/ideas.yml
  .github/ISSUE_TEMPLATE/dev.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/ex.yml
  .github/ISSUE_TEMPLATE/feat.yml
  .github/ISSUE_TEMPLATE/fix.yml
  .github/ISSUE_TEMPLATE/test.yml
  .github/ISSUE_TEMPLATE/wf.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/comments/cannot-recreate.md
  .github/comments/good-first-issue.md
  .github/comments/issue-duplicate.md
  .github/comments/need-improvement.md
  .github/comments/pr-duplicate.md
  .github/comments/unclear.md
  .github/config.yml
  .github/dependabot.yml
  .github/workflows/action-lint.yml
  .github/workflows/audit.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/issue-labeler.yml
  .github/workflows/json-lint.yml
  .github/workflows/labeler.yml
  .github/workflows/lock-threads.yml
  .github/workflows/md-lint.yml
  .github/workflows/pr-audit.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/shell-lint.yml
  .github/workflows/toml-lint.yml
  .github/workflows/triage-issues.yml
  .github/workflows/triage-prs.yml
  .github/workflows/triage.yml
  .github/workflows/yaml-lint.yml
  .gitignore
  .markdownlint.yml
  .prettierignore
  .prettierrc.toml
  .vale.ini
  .yamllint.yml
  Cargo.toml
  LICENSES/NOTICE
  LICENSES/changelogen/LICENSE
  LICENSES/sharp/LICENSE
  README.md
  deny.toml
  docs/FAQ.md
  docs/INSTALL.md
  docs/USE.md
  etc/ci/before_deploy.sh
Labels: documentation, chore, workflow

#257 chore: reduce build size
  Cargo.toml
Labels: chore

#258 docs: refine the field descriptions of the article
  docs/USE.md
Labels: documentation

#260 fix: the CI pipeline will no longer be triggered when modifying `*.rs` files
  .github/workflows/ci.yml
Labels: bug

#259 chore!: modify the env name of the config parameter
  src/main.rs
Labels: chore

#262 wf: delete `:`
  .github/workflows/labeler.yml
Labels: workflow

#263 chore: add `.rustfmt.toml`
  .github/CODEOWNERS
  .github/workflows/toml-lint.yml
  .rustfmt.toml
Labels: chore

#264 wf: refine the trigger conditions for workflows
  .github/workflows/audit.yml
  .github/workflows/ci.yml
  .github/workflows/json-lint.yml
  .github/workflows/md-lint.yml
  .github/workflows/yaml-lint.yml
Labels: workflow

#265 chore: restrict the scope of linting, expand the scope of CODEOWNERS, and add Vale rules
  .config/vale/styles/.gitkeep
  .config/vale/styles/config/vocabularies/Name/accept.txt
  .config/vale/styles/config/vocabularies/Tech/accept.txt
  .github/CODE-OF-CONDUCT.md
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .vale.ini
  README.md
  etc/ci/before_deploy.sh
Labels: chore

#266 docs: change WinGet link for README.md
  README.md
Labels: documentation

#267 chore: change WinGet badge color
  README.md
Labels: chore

#268 docs: add badge logo for README.md
  README.md
Labels: documentation

#270 wf: optimize workflows
  .github/CODE-OF-CONDUCT.md
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/comments/cannot-recreate.md
  .github/comments/good-first-issue.md
  .github/comments/issue-duplicate.md
  .github/comments/need-improvement.md
  .github/comments/pr-duplicate.md
  .github/comments/unclear.md
  .github/workflows/ci.yml
  .github/workflows/json-lint.yml
  .github/workflows/lock-threads.yml
  .github/workflows/toml-lint.yml
  .github/workflows/yaml-lint.yml
  .markdownlint-cli2.yaml
  .yamllint.yml
  docs/USE.md
  examples/nextjs/README.md
Labels: workflow

#271 docs: tidy up the SECURITY.md
  .github/SECURITY.md
Labels: documentation

#272 docs: add a RELEASE.md document and update the version support range in SECURITY.md
  .github/SECURITY.md
  README.md
  docs/RELEASES.md
Labels: documentation

#273 docs: opt RELEASES.md and SECURITY.md
  .github/SECURITY.md
  docs/RELEASES.md
Labels: documentation

#277 wf: fixed vale CI error, remove redundant rules
  .config/vale/styles/config/vocabularies/Name/accept.txt
  .config/vale/styles/config/vocabularies/Tech/accept.txt
  .vale.ini
Labels: workflow

#278 dep: updtae Cargo.lock versions
  .github/workflows/audit.yml
  .github/workflows/ci.yml
  Cargo.lock
Labels: dependency

#279 wf: remove rust-cache in ci.yml
  .github/workflows/ci.yml
Labels: workflow

#276 chore: bump version
  Cargo.lock
  Cargo.toml
  README.md
Labels: chore

#280 wf(docs)!: remove the issue labeler, simplify the issue template, and add explanations and workflows related to PR labels
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/dev.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/ex.yml
  .github/ISSUE_TEMPLATE/feat.yml
  .github/ISSUE_TEMPLATE/proposal.yml
  .github/ISSUE_TEMPLATE/test.yml
  .github/ISSUE_TEMPLATE/wf.yml
  .github/workflows/labeler.yml
Labels: documentation, workflow

#281 docs(fix): the issue where labels in the issue template are not working
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/proposal.yml
Labels: documentation

#282 docs(issue_template): add `type` field
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/proposal.yml
Labels: documentation

#283 ci(refactor)!: refactor fields related to the `labeler.yml` to comply with `Conventional Commits 1.0.0`
  .config/vale/styles/config/vocabularies/Tech/accept.txt
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/proposal.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/labeler.yml
  changelogithub.config.json
Labels: ci

#284 ci: add examples label to `labeler.yml`
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/proposal.yml
  .github/workflows/labeler.yml
  changelogithub.config.json
Labels: ci

#285 style(docs): format docs
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  docs/USE.md
Labels: style

#286 chore: add `.git-blame-ignore-revs` file
  .git-blame-ignore-revs
Labels: chore

#287 chore: bump version
  Cargo.lock
  Cargo.toml
  README.md
Labels: chore

#288 ci(chore): improve the `prefix` field in the `dependabot.yml` file
  .github/dependabot.yml
Labels: chore, ci

#289 docs(chore): use `config` instead of `configuration` consistently
  .config/vale/styles/config/vocabularies/Tech/accept.txt
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  docs/USE.md
Labels: documentation, chore

#291 ci(fix): improve the trigger conditions in the `md-lint.yml` file
  .github/workflows/md-lint.yml
Labels: bug, ci

#290 ci(chore): remove unnecessary vocab
  .config/vale/styles/config/vocabularies/Tech/accept.txt
Labels: chore, ci
